{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}
{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('register') }}
{% endblock %}
{% block body %}
	<div class="registerCont">
		<div class="formContainer text-center">
			<h1 class="mb-5">{% trans from 'register' %}
				register.title
				{% endtrans %}</h1>
			<div>
				{{ form_start(registrationForm, {'attr': {'novalidate': 'novalidate'}}) }}
				<div>
					<div class='label'>
						<div class="registration-email-error">
							{{ form_errors(registrationForm.firstName) }}
						</div>
						{{ form_label(registrationForm.firstName) }}


					</div>
					{% set phFN = 'register.ph.firstname'|trans %}
					{{ form_widget(registrationForm.firstName,{ 'attr':{'placeholder': phFN } }) }}
				</div>

				<div>
					<div class='label'>
						<div class="registration-email-error">
							{{ form_errors(registrationForm.lastName) }}
						</div>
						{{ form_label(registrationForm.lastName) }}
					</div>
					{% set phLN = 'register.ph.firstname'|trans %}

					{{ form_widget(registrationForm.lastName,{ 'attr':{'placeholder': phLN } }) }}
				</div>

				<div>
					<div class='label'>
						{{ form_label(registrationForm.email) }}
					</div>
					<div class="registration-email-error">
						{{ form_errors(registrationForm.email) }}
					</div>
					{% set phE = 'register.ph.email'|trans %}
					{{ form_widget(registrationForm.email,{ 'attr':{'placeholder': phE } }) }}
				</div>

				<div>


					<div class="registration-email-error">
						{{ form_errors(registrationForm.password.first) }}
						{{ form_errors(registrationForm.password.second) }}
					</div>
					<div class='label'>
						{{ form_label(registrationForm.password) }}
					</div>
					<div class="form-registration-container">
						<div class="registration-password">
							{% set phP = 'register.ph.password'|trans %}
							{% set phP1 = 'register.ph.passConfirm'|trans %}
							{{ form_widget(registrationForm.password.first, { 'attr': {'class': 'form-control', 'placeholder': phP, 'value':''}  }) }}
							{{ form_widget(registrationForm.password.second, { 'attr': {'class': 'form-control', 'placeholder': phP1, 'value':''}  }) }}
						</div>

					</div>
				</div>

        <div class=" container-fluid text-center mt-3">
						<div class="col-6 offset-3">
							{{ form_widget(registrationForm.agreeTerms) }}
						</div>
						<div class=" col-6 offset-3 ">
							{{ form_label(registrationForm.agreeTerms) }}
						</div>
					</div>


				<button class="registerBtn" type="submit" class="btn">{% trans from 'register' %}
					register.Register
					{% endtrans %}</button>
				{{ form_end(registrationForm) }}

			</div>

		</div>

	</div>


{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('register') }}
{% endblock %}
