

{% block title %}{% endblock %}

{% block body %}

{% block stylesheets %}
   
            {{ encore_entry_link_tags('home') }}
{% endblock %}
<div id="carouselExampleControls" class="carousel slide" data-interval="2000" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <p class="carousel-title-1"> <span class="quote-red">“</span>{% trans from 'carousel' %} carousel.one {% endtrans %}<span class="quote-red">”</span> </p>
    </div>
    <div class="carousel-item">
      <p class="carousel-title-1"><span class="quote-red">“</span>{% trans from 'carousel' %} carousel.two {% endtrans %}<span class="quote-red">”</span>  </p>
    </div>
    <div class="carousel-item">
      <p class="carousel-title-1"> <span class="quote-red">“</span>{% trans from 'carousel' %} carousel.three {% endtrans %}<span class="quote-red">”</span> </p>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

{% endblock %}
{% block javascripts %}
            {{ encore_entry_script_tags('home') }}
{% endblock %}