   <button type="button" data-toggle="tooltip" class="btn btn-success"><a href="{{path('vote_for',{'id':solution.id})}} ">{% trans from 'problemShow' %} vote.for {% endtrans %} {{ data[key][loop.index0]}}</a></button>
                <button type="button" data-toggle="tooltip" class="btn btn-danger"><a href="{{path('vote_against',{'id':solution.id})}}">{% trans from 'problemShow' %} vote.against {% endtrans %}{{ data[key][1] }}</a> </button>