.navbarBG{
    background-color: #000000;
}
.logoNav{
    width: 30px;
}
.burgerNav{
    width: 30px;
}

@media screen and (max-width: 990px) {
  .logoNav {
    display: none;
  }
  .link-home {
    display: block;
  }
}

@media screen and (min-width: 990px) {
  .link-home {
    display: none;
  }
}

.dropdown {
  float: right;
}