{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <div id="root"></div>
{% endblock %}

{% block javascripts %}

			{{encore_entry_script_tags('react')}}
			
		<script>
		let users = {{users | raw}}
		  
		   render(users)
        </script>
{% endblock %}
