{{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}
   
    
    <div>
        <div class="col">
            {{form_label(form.name)}}
        </div>
        <div class="col">
        {% set phSCN = 'solution.ph.name'|trans %}
        {{form_widget(form.name, { 'attr':{"placeholder":phSCN}})}}
        </div>
    </div>

    <div class="mt-4">
        <div class="col">
            {{form_label(form.description)}}
        </div>
        <div class="col">
            {% set phSCD = 'solution.ph.desc'|trans %}
            {{form_widget(form.description, { 'attr':{"placeholder":phSCD}} )}}
        </div>
    </div>
    <button class="btn"> {% trans from 'solution_create' %}  solution.save {%  endtrans  %}</button>
{{ form_end(form) }}
