{% extends 'base.html.twig' %}

{% block title %}Liste des problèmes{% endblock %}
{% block stylesheets %}
            {{parent()}}
            {{ encore_entry_link_tags('problemList') }}
{% endblock %}
{% block body %}
    <h1>{% trans from 'problemList' %} title {% endtrans %}</h1>
    <div class="link-create-problem-container">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a class="creat-problem-link btn btn-success" href="{{ path('problem_new') }}">{% trans from 'problem_create' %} problem_create.button {% endtrans %}</a>
        {% endif %}
    </div>
    <div class="problem-list-container">
        {% for problem in problems %}
            <div class="card" style="width: 18rem;">
                <a href="{{ path('problem_show', {'id': problem.id}) }}">
                    <div class="img-container">
                    {% if problem.image == null%}
                        <img src="{{ asset('build/images/' ~ "logo_indignez-vous_white.svg") }}" class="card-img-top" alt="...">
                    {% else %}
                        <img src="{{ asset('uploads/images/' ~ problem.image) }}" class="card-img-top" alt="...">
                    {% endif %}
                    </div>
                    <label class="problem-list-tag color-{{problem.tag}}">{% trans  with {'%tag%': problem.tag} from 'problemList'  %} tag {% endtrans %} </label>
                    <div class="card-body">
                        <h3 class="card-text">{{ problem.title }}</h3>
                        <p class="card-text">{{ problem.description }}</p>
                    </div>
                </a>
            </div>
        {% else %}
            <h2>Il n'y a pas de Problème</h2>a
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
            {{ encore_entry_script_tags('problemList') }}
{% endblock %}