{% extends 'base.html.twig' %}

{% block title %}New Problem{% endblock %}
{% block stylesheets %}
            {{parent()}}
            {{ encore_entry_link_tags('problemNew') }}
{% endblock %}

{% block body %}
<div class="problem-new-bg">
    <h1 class="problem-new-title">{% trans from 'problem_create' %} problem_create.create {% endtrans %}</h1>

    {{ include('problem/_form.html.twig') }}
   
    <a href="{{ path('problem_index') }}">{% trans from 'problem_create' %} problem_create.back {% endtrans %}</a>
</div>
{% endblock %}
{% block javascripts %}
            {{ encore_entry_script_tags('problemNew') }}
{% endblock %}