{% extends 'base.html.twig' %}

{% block title %}{% trans from 'problemShow' %} problem {% endtrans %}{% endblock %}

{% block stylesheets %}
            {{parent()}}
            {{ encore_entry_link_tags('problem') }}
{% endblock %}

{% block body %}
    <section class="problem-container">
        <div class="image-problem-container">
            {% if problem.image == null%}
                <img src="{{ asset('build/images/' ~ "logo_indignez-vous_white.svg") }}" class="card-img-top" alt="...">
            {% else %}
                <img src="{{ asset('uploads/images/' ~ problem.image) }}" class="card-img-top" alt="...">
            {% endif %}
        </div>

        <div class="title-problem-container">
            <h2 class="title-problem">" {{ problem.title }} "</h2>
            <h4>{{problem.createDate|date("m/d/Y")}}</h4>
            <h5>{{problem.user.lastName}} {{problem.user.firstName}}</h5>
        </div>

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="dropdown dropdown-container">
                <button class="button-dropdown" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <p>{% trans from 'problemShow' %} create.solu {% endtrans %}</p>
                    <img class="arrow" src="{{ asset('build/images/arrow_white.svg') }}" alt="sdf" />
                </button>
                <div class="create-solution-container dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <div class="form-create-solution">
                        {{ include('solution/_form.html.twig', {'button_label': 'Update'}) }}
                    </div>
                </div>
            </div>

        {% endif %}

        <div class="detail-problem-container">
            <p class="title-detail-problem">{% trans from 'problemShow' %} detail.problem {% endtrans %}</p>
            <p class="detail-problem">{{ problem.description }}</p>
        </div>
    </section>
    <hr>
    <section class="list-solution-container">


        {% for key, solution in problem.solutions %}
            <div class="solution-container">
                <div class="solution-content">
                    <p class="user-message">{{ solution.user.firstName}} {{ solution.user.lastName}} {{solution.createDate|date("m/d/Y")}}</p>
                    <p class="solution-name">{{ solution.name }}</p>

                  {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                      <a href="{{path('solution_show',{'id': solution.id})}}">{% trans from 'problemShow' %} detail.solution {% endtrans %}</a>
                  {% endif %}
                </div>

                {% if votes[key] == null %}
                    <a href="{{path('vote_for',{'id':solution.id})}}"><button type="button" class="btn btn-success"> {% trans from 'problemShow' %} vote.for {% endtrans %} {{ data[key][0] }}</button></a>
                    <a href="{{path('vote_against',{'id':solution.id})}}"><button type="button" class="btn btn-danger">{% trans from 'problemShow' %} vote.against {% endtrans %} {{ data[key][1] }}</button></a>
                {% else %}
                    <button type="button" class="btn btn-secondary"><a href="{{path('vote_for',{'id':solution.id})}}"> {% trans from 'problemShow' %} vote.for {% endtrans %} {{ data[key][0] }}</a></button>
                    <button type="button" class="btn btn-secondary"><a href="{{path('vote_against',{'id':solution.id})}}">{% trans from 'problemShow' %} vote.against {% endtrans %} {{ data[key][1] }}</a></button>
                        <p>Vous avez déja voter!</p>
                {% endif %}
                <hr>
         {% endfor %}
            </div>
    </section>

{% endblock %}

{% block javascripts %}
            {{ encore_entry_script_tags('problem') }}
{% endblock %}