p {margin: 0;}
body {background-color: black;}
hr {
  background-color: white;
  width: 70%;
}
a {
  text-decoration: none;
  color: white;
  &:hover {
    color: #0085FF;
    text-decoration: none;
  }
}

.problem-container {
  width: 100%;

  .title-problem-container {
    text-align: center;
  }

  .image-problem-container {
    width: 100%;
    height: 400px;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  .title-problem-container {
    margin: 50px 30px 50px;
    color: white;
  }

  .dropdown-container {
    width: 100%;
    .button-dropdown {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      background-color: deepskyblue;
      border: none;
      width: 100%;
      .arrow {
        width: 60px;
      }

      &:focus {
        outline: none;
      }

      p {
        font-size: 25px;
        color: white;
      }
    }
  }
  .create-solution-container {
    background-color: #c4c4c4;
    width: 100%;
    padding: 10px;
    border-radius: 0;
    margin: 0;
    border: none;

    position: relative !important;
    transform: translate3d(0px, 0px, 0px) !important;

  .title-form-solution {
    text-align: center;
  }

.form-create-solution {
  display: flex;
  justify-content: center;
  align-items: center;
  label {
    margin: 0
  }

  input {
    border: none;
    background: none;
    border-bottom: 1px solid #000;
    margin-left: 10px;
  }

  button {
    margin-top: 20px;
    color: white;
    background-color: #0085ff;
    float: right;
  }
}
}

.detail-problem-container {
text-align: center;
color: white;
padding: 10px;
}
}

.list-solution-container {
color: white;
text-align: center;

.solution-name {
font-style: italic;
}

button {
margin: 10px
}
}


