$backgroundLogin: 
linear-gradient(154.69deg, #FF6F50 43.89%, #F04F4F 85.93%);
$homeBtn: #000;

.problem-new-bg {
  background: $backgroundLogin; 
  width: 100%; 
  height: 100vh; 
  padding-left: 40px; 
  padding-top: 40px; 
}

input {
  border: none; 
  background: none; 
  border-bottom: 1px solid #000; 
}

.problem-new-title {
  color: white; 
  font-family: arial; 
  font-size: 70px; 
  font-weight: bold; 
}

.problem-new-label label {
  font-family: arial; 
  font-weight: bold; 
  font-size: 40px; 

}

.problem-new-label .btn {
  background-color: black; 
  color: white; 
  font-weight: bold; 
  border-radius: 50px; 
  width: 200px; 
}

.problem-new-btn  {
  background-color: #000; 
  border-radius: 50px; 
  border: none;
  width: 200px; 
  height: 45px; 
  font-weight: bold; 
  cursor: pointer !important; 
  color: white; 
  font-size: 20px !important;
  div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// et on masque le input
input[type='file']  {
    display: none;
}

.problem-new-save-btn {
  width: 50px; 
  cursor: pointer;
  height: 50px; 
  background-color: #000; 
  color: white; 
  border-radius: 50%; 
  border: none; 
  font-weight: bold; 
  font-size: 20px;
}