body {
  background-color: black;
  h1 {
    color: white;
    text-align: center;
  }
}

.problem-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.problem-list-tag {
  min-width: 70px;
  height: auto;
  text-align: center;
  border-radius: 50px;
  padding: 5px;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 10px;
}

.color-Finances{
  background-color: purple;
}

.color-Retraite{
  background-color: lightcoral;
}

.color-Social{
  background-color: dodgerblue;
}

.color-Santé{
  background-color: limegreen;
}

.color-Économie{
  background-color: orangered;
}

.link-create-problem-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card {
  margin: 20px;
  min-height: 450px;
  background-color: black;
  border: solid white;
  color: white;

  a {
    text-decoration: none;
    color: white;
    height: 100%;
  }

  &:hover {

    .img-container {
      opacity: 0.5
    }
  }
}

.img-container {
  width: 100%;
  min-height: 200px;
  display: flex;
  align-items: center;
  background-color: gray;

  img {width: 100%;}
}