$backgroundLogin: linear-gradient(154.69deg, #FF6F50 43.89%, #F04F4F 85.93%);

body {
  background: $backgroundLogin;
}

.title-solution{
  text-align: center;
}

.solution-container {
  padding: 10px;
  width: 100%;

  text-align: center;
  .buttons-vote {
    display: flex;
    justify-content: center;

    .btn {
      margin: 10px;
    }
  }
}