<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <link rel="icon" href="{{ asset('build/images/logo_indignez-vous_white.e1b073c9.svg') }}" />
        <title>{% block title %}Welcome!{% endblock %}</title>
         {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% include 'header.html.twig'%}
        {% block body %}
        {% endblock %}
        {% include 'footer.html.twig'%}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
