{% extends 'base.html.twig' %}

{% block body %}
<div class="text-center mt-5">
    <h1>{% trans from '404' %} error {% endtrans %}</h1>
    <h2>{% trans from '404' %} title {% endtrans %}</h2>

    <p>
        {% trans from '404' %} text {% endtrans %}
    </p>
    <a href="{{ path('home') }}">{% trans from '404' %} link {% endtrans %}</a>
<div>
{% endblock %}