{% extends 'base.html.twig' %}

{% block body %}
<div class="text-center mt-5">
    <h1>{% trans from 'error' %} title {% endtrans %}</h1>

    <p>
        {% trans from 'error' %} text {% endtrans %}
    </p>
    <a href="{{ path('home') }}">{% trans from 'error' %} link {% endtrans %}</a>
<div>
{% endblock %}